body {
  text-align: center;
  font-family: sans-serif;
}
ul {
  padding: 0;
}
.container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#inputAddr {
  width: 250px;
}
#address-template {
  text-align: center;
}
.item {
  width: 330px;
  margin: 40px 20px;
  position: relative;
}
.inputName {
  width: 160px;
  position: absolute;
  left: 80px;
  border: 0;
  text-align: center;
}
#x {
  cursor: pointer;
  position: absolute;
  right: 40px;
}
#QR {
  width: 15em;
}
#addr {
  overflow-wrap: anywhere;
}
#Placeholder {
  display: flex;
  min-height: 415px;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
}
footer {
  display: flex;
  justify-content: center;
}
.githublogo{
  width: 64px;
  position:relative; 
  top:-5px;
  left: -5px;
}